<p style="color: green"><%= notice %></p>

<%= render @review %>

<div>
  <%= link_to "Edit this review", edit_classnote_review_path(@classnote) %> |
  <%= link_to "Back to reviews", classnote_reviews_path %>

  <%= button_to "Destroy this review", @review, method: :delete %>
</div>
