<!DOCTYPE html>
<html>
  <head>
    <title>Nooto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <%= render partial: "shared/navbar" %>
  <body align="center">
    <% if notice %>
      <p class="alert alert-success" style="color: green"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger" style="color: red"><%= alert %></p>
    <% end %>
    <div class="container" style="text-align: center; padding-top: 25px">
      <%= yield %>
    </div>

  </body>
</html>
